body {
    margin: 0;
    overflow-y: hidden;
    background: url("https://images.pexels.com/photos/1205301/pexels-photo-1205301.jpeg");
    background-size: 140%;
}

h1 {
    position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    color: white;
    font-family: 'Nasa', sans-serif;
    font-size: 50px;
}

#info {
    height: 300px;
    width: 250px;
    position: absolute;
	text-align: center;
	top: 10px;
    left: 10px;
	z-index: 100;
	display:block;
    background-color: whitesmoke;
    opacity: 0.8;
}

#desc {
    text-align: left;
    padding-left: 10px;
}

#live_reaction {
    width: 100px;
    text-align: left;
    margin-top: 50px;
    padding-left: 20px;
    z-index: -1;
}

#spinning_cube {
    z-index: 1;
    position: relative;
}


#refresh {
    height: 100px;
    width: 200px;
    font-size: 30px;
    position: absolute;
	bottom: 30px;
    left: 10px;
    display:block;
    z-index: 265;
}

#text1 {
    height: 30px;
    width: 150px;
    position: absolute;
	text-align: center;
    line-height: 0px; 
	bottom: 90px;
    left: 230px;
	z-index: 100;
	display:block;
    background-color: whitesmoke;
}

#text2 {
    height: 30px;
    width: 150px;
    position: absolute;
	text-align: center;
    line-height: 0px; 
	bottom: 40px;
    left: 230px;
	z-index: 100;
	display:block;
    background-color: whitesmoke;
}

#myRange {
    height: 100px;
    width: 750px;
    position: absolute;
	bottom: 5px;
    left: 400px;
    display:block;
    z-index: 265;
}

#myRange2 {
    height: 100px;
    width: 750px;
    position: absolute;
	bottom: 55px;
    left: 400px;
    display:block;
    z-index: 265;
}

#load {
    height: 100px;
    width: 100px;
    font-size: 20px;
    position: absolute;
	bottom: 30px;
    right: 140px;
    display:block;
    z-index: 265;
}

#save {
    height: 100px;
    width: 100px;
    font-size: 20px;
    position: absolute;
	bottom: 30px;
    right: 20px;
    display:block;
    z-index: 265;
}

#c {
    height: 100vh;
}


/* for mobile screens under 500px - to be implemented */
@media (max-width: 500px) {
    
}
